// font
$font-family-sans-serif: 'Open Sans', sans-serif;

// colors
$primary: #200752;
$secondary: #EAB00b;
$dark: #2b3041;
$light: #f3f6f9;

// margin
$enable-negative-margins: true;

@import '../node_modules/bootstrap/scss/bootstrap';