// font
$font-family-sans-serif: 'Open Sans', sans-serif;

// colors
$primary: rgb(0, 80, 220);
$secondary: #eab00b;
$dark: #2b3041;
$light: rgb(243, 246, 249);

// margin
$enable-negative-margins: true;

@import '../node_modules/bootstrap/scss/bootstrap';