* {
    font-family: "Noto Sans", sans-serif;
}

/* NAVBAR STYLES */
.nav-font {
    font-family: "Kanit", sans-serif;
}

.navbar-shadow {
    box-shadow: 0 1px 15px rgb(0, 37, 85);
}

a.selected {
    border-radius: 12px 7px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #0050dc;
}

/* TABLE STYLES */
.table-hover-shadow tr {
    transition: all 0.2s;
}

.table-hover-shadow tr:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 0 rgba(0, 80, 220, 1);
}

.table-height {
    height: 70vh;
    overflow: auto;
    padding-left: 5px;
}