/* NAVBAR STYLES */
.navbar-shadow {
    box-shadow: 0 1px 15px #002555;
}

/* TABLE STYLES */
.table-hover-shadow tr {
    transition: all 0.2s;
}

.table-hover-shadow tr:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 0 #0050DC;
}